* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: #ded4f0;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

input {
    opacity: 0;
    width: 40px;
    position: absolute;
    left: 15px;
    z-index: 2;
}

.circle {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #000;
    border-radius: 50%;
    transition: transform ease 0.25s;
}

.circle:nth-child(2) {
    margin: 0 3px;
}

input:checked + .circles .circle:first-child {
    transform: translateX(13px);
}

input:checked + .circles .circle:last-child {
    transform: translateX(-13px);
}

.subMenu {
    display: none;
}

.menu {
    transition: transform ease 0.2s;
    transform: scale(0);
    display: flex;
    justify-content: space-between;
    width: 30%;
    position: absolute;
    left: 50px;
}

input:checked ~ .menu {    
    transform: scale(1);
}

.menu__trigger:hover .subMenu {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}

main div {
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    width: 60%;
}

main .left,
main .right {
    width: 18%;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.foto {
    width: 100px;

}

.left,
.center,
.right {
    padding: 10px 0;
}

.center {
    text-align: center;
}

.center p {
    margin: 10px 0;
}

.center p:last-child {
    text-align: right;
    font-style: italic;
}

.centerVideo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center iframe {
    width: calc(0.75 * 882px);
    height: calc(0.75 * 496px);
}

.right {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.gif {
    width: 150px;
    border-radius: 50%;
}

footer {
    width: 100%;
    text-align: right;
    background-color: #f8aeac;
}

footer p {
    margin: 5px;
}


